Repository flexera-public/policy_templates, pull requests merged in 2020-10, with the labels that each got.

#612 POL-384 Updated AWS Old snapshots deregister image action.
  cost/aws/old_snapshots/CHANGELOG.md
  cost/aws/old_snapshots/aws_delete_old_snapshots.pt
Labels: READY-FOR-REVIEW, bug, changelog

#590 Pol 316 add savings aws old snapshots
  cost/aws/old_snapshots/CHANGELOG.md
  cost/aws/old_snapshots/README.md
  cost/aws/old_snapshots/aws_delete_old_snapshots.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#613 Added 404 ignore
  cost/azure/instances_log_analytics_utilization/CHANGELOG.md
  cost/azure/instances_log_analytics_utilization/azure_instance_log_analytics_utilization.pt
Labels: READY-FOR-REVIEW

#615 Updated Dangerfile to check uppercase for first character in category
  Dangerfile
Labels: enhancement

#610 Adding textlint to improve code quality.
  .editorconfig
  .gitignore
  .ruby-version
  .textlintrc
  .travis.yml
  Dangerfile
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
  policy_templates.code-workspace
Labels: repo_maintenance

#617 POL-388-AWS-Cost-Explorer-API-Changes
  cost/aws/reserved_instances/coverage/CHANGELOG.md
  cost/aws/reserved_instances/coverage/README.md
  cost/aws/reserved_instances/coverage/reserved_instance_coverage.pt
Labels: READY-FOR-REVIEW, changelog

#618 Pol 389 case 02228565 new service usage policy error
  cost/new_service_usage/CHANGELOG.md
  cost/new_service_usage/new_service_usage.pt
Labels: READY-FOR-REVIEW, bug, changelog, enhancement

#619 Fix AWS Regions with SCP for FinOps Policies
  compliance/aws/ecs_unused/aws_unused_ecs_clusters.pt
  compliance/aws/instances_without_fnm_agent/aws_instances_not_running_flexnet_inventory_agent.pt
  compliance/aws/long_stopped_instances/aws_long_stopped_instances.pt
  compliance/aws/untagged_resources/aws_untagged_resources.pt
  cost/aws/burstable_instance_cloudwatch_credit_utilization/aws_burstable_instance_cloudwatch_credit_utilization.pt
  cost/aws/elb/clb_unused/aws_delete_unused_clb.pt
  cost/aws/idle_compute_instances/idle_compute_instances.pt
  cost/aws/instance_cloudwatch_utilization/aws_instance_cloudwatch_utilization.pt
  cost/aws/old_snapshots/CHANGELOG.md
  cost/aws/old_snapshots/aws_delete_old_snapshots.pt
  cost/aws/rds_instance_cloudwatch_utilization/rds_instance_cloudwatch_utilization.pt
  cost/aws/rds_instance_license_info/rds_instance_license_info.pt
  cost/aws/schedule_instance/aws_schedule_instance.pt
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
  cost/aws/unused_rds/unused_rds.pt
  cost/aws/unused_volumes/CHANGELOG.md
  cost/aws/unused_volumes/aws_delete_unused_volumes.pt
  operational/aws/instance_scheduled_events/aws_instance_scheduled_events.pt
  operational/aws/long_running_instances/long_running_instances.pt
  operational/aws/subnet_name_sync/aws_subnet_name_sync.pt
  operational/aws/vpc_name_sync/aws_vpc_name_sync.pt
  operational/dbaas/aws/rds_backup/aws_rds_backup.pt
  policy_templates.code-workspace
  security/aws/clb_unencrypted/aws_clb_encryption.pt
  security/aws/ebs_unencrypted_volumes/aws_unencrypted_volumes.pt
  security/aws/elb_unencrypted/aws_elb_encryption.pt
  security/aws/loadbalancer_internet_facing/aws_internet-facing_elbs.pt
  security/aws/rds_publicly_accessible/aws_publicly_accessible_rds_instances.pt
  security/aws/rds_unencrypted/aws_unencrypted_rds_instances.pt
Labels: READY-FOR-REVIEW

#621 Check association ID in AWS Unused IP Addresses policy template
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
Labels: READY-FOR-REVIEW

#622 POL-393-Case-0223312-Unused-IP-Address-shows-N/A-for-savings
  cost/azure/unused_ip_addresses/CHANGELOG.md
  cost/azure/unused_ip_addresses/azure_unused_ip_addresses.pt
Labels: READY-FOR-REVIEW, changelog
