Repository flexera-public/policy_templates, pull requests merged in 2020-08, with the labels that each got.

#571 POL-350 update tag exclusion logic
  cost/azure/unused_sql_databases/CHANGELOG.md
  cost/azure/unused_sql_databases/azure_unused_sql_databases.pt
Labels: READY-FOR-REVIEW, bug, changelog

#570 Fix sample IAM policy documents for AWS Unused Volumes
  cost/aws/unused_volumes/README.md
Labels: READY-FOR-REVIEW

#528 POL-253 UPDATE ESCALATION BLOCK-2
  compliance/tags/tag_checker/CHANGELOG.md
  compliance/tags/tag_checker/tag_checker.pt
  cost/aws/idle_compute_instances/CHANGELOG.md
  cost/aws/idle_compute_instances/README.md
  cost/aws/idle_compute_instances/idle_compute_instances.pt
  cost/aws/old_snapshots/CHANGELOG.md
  cost/aws/old_snapshots/README.md
  cost/aws/old_snapshots/aws_delete_old_snapshots.pt
  cost/azure/idle_compute_instances/CHANGELOG.md
  cost/azure/idle_compute_instances/README.md
  cost/azure/idle_compute_instances/azure_idle_compute_instances.pt
  cost/azure/old_snapshots/CHANGELOG.md
  cost/azure/old_snapshots/README.md
  cost/azure/old_snapshots/azure_delete_old_snapshots.pt
  cost/downsize_instance/CHANGELOG.md
  cost/downsize_instance/downsize_instance.pt
  cost/google/idle_compute_instances/CHANGELOG.md
  cost/google/idle_compute_instances/README.md
  cost/google/idle_compute_instances/google_idle_compute_instances.pt
  cost/google/old_snapshots/CHANGELOG.md
  cost/google/old_snapshots/README.md
  cost/google/old_snapshots/google_delete_old_snapshots.pt
  cost/schedule_instances/CHANGELOG.md
  cost/schedule_instances/schedule_instances.pt
Labels: DO-NOT-MERGE, READY FOR APPROVAL, READY-FOR-REVIEW, changelog

#525 POL-252 Update Escalation Block 1
  README.md
  cost/aws/instance_cloudwatch_utilization/CHANGELOG.md
  cost/aws/instance_cloudwatch_utilization/README.md
  cost/aws/instance_cloudwatch_utilization/aws_instance_cloudwatch_utilization.pt
  cost/aws/unused_volumes/CHANGELOG.md
  cost/aws/unused_volumes/README.md
  cost/aws/unused_volumes/aws_delete_unused_volumes.pt
  cost/azure/instances_log_analytics_utilization/CHANGELOG.md
  cost/azure/instances_log_analytics_utilization/README.md
  cost/azure/instances_log_analytics_utilization/azure_instance_log_analytics_utilization.pt
  cost/downsize_instance/README.md
  cost/downsize_instance/downsize_instance.pt
  cost/google/instances_stackdriver_utilization/CHANGELOG.md
  cost/google/instances_stackdriver_utilization/README.md
  cost/google/instances_stackdriver_utilization/google_instances_stackdriver_utilization.pt
  cost/google/unattached_volumes/CHANGELOG.md
  cost/google/unattached_volumes/README.md
  cost/google/unattached_volumes/google_delete_unattached_volumes.pt
  cost/google/unutilized_ip_addresses/CHANGELOG.md
  cost/google/unutilized_ip_addresses/README.md
  cost/google/unutilized_ip_addresses/google_unutilized_ip_addresses.pt
  cost/unattached_addresses/CHANGELOG.md
  cost/unattached_addresses/README.md
  cost/unattached_addresses/unattached_addresses.pt
  cost/volumes/old_snapshots/CHANGELOG.md
  cost/volumes/old_snapshots/README.md
  cost/volumes/old_snapshots/old_snapshot.pt
  cost/volumes/unattached_volumes/CHANGELOG.md
  cost/volumes/unattached_volumes/README.md
  cost/volumes/unattached_volumes/uav_policy.pt
  security/storage/aws/public_buckets/CHANGELOG.md
  security/storage/aws/public_buckets/README.md
  security/storage/aws/public_buckets/aws_public_buckets.pt
Labels: DO-NOT-MERGE, READY-FOR-REVIEW, changelog, enhancement

#487 Pol 245 new resource table 7
  compliance/azure/subscription_access/CHANGELOG.md
  compliance/azure/subscription_access/azure_subscription_access.pt
  compliance/billing_center_access_report/CHANGELOG.md
  compliance/billing_center_access_report/bc_access_report.pt
  compliance/tags/azure_rg_tags/CHANGELOG.md
  compliance/tags/azure_rg_tags/README.md
  compliance/tags/azure_rg_tags/azure_resource_group_tags.pt
  cost/azure/reserved_instances/recommendations/CHANGELOG.md
  cost/azure/reserved_instances/recommendations/azure_reserved_instance_recommendations.pt
  cost/azure/reserved_instances/utilization/CHANGELOG.md
  cost/azure/reserved_instances/utilization/azure_reserved_instance_utilization.pt
  cost/azure/rightsize_sql_instances/CHANGELOG.md
  cost/azure/rightsize_sql_instances/README.md
  cost/azure/rightsize_sql_instances/azure_rightsize_sql_instances.pt
  cost/azure/unused_sql_databases/CHANGELOG.md
  cost/azure/unused_sql_databases/README.md
  cost/azure/unused_sql_databases/azure_unused_sql_databases.pt
  cost/billing_center_cost_anomaly/CHANGELOG.md
  cost/billing_center_cost_anomaly/billing_center_cost_anomaly.pt
  operational/azure/azuread_group_sync/azuread_group_sync.pt
  operational/azure/vms_without_managed_disks/CHANGELOG.md
  operational/azure/vms_without_managed_disks/azure_vms_without_managed_disks.pt
Labels: DO-NOT-MERGE, READY FOR APPROVAL, changelog, enhancement

#483 POL-243 New Resource Table 5
  compliance/aws/ecs_unused/CHANGELOG.md
  compliance/aws/ecs_unused/README.md
  compliance/aws/ecs_unused/aws_unused_ecs_clusters.pt
  compliance/azure/ahub_manual/CHANGELOG.md
  compliance/azure/ahub_manual/azure_ahub_utilization_with_manual_entry.pt
  cost/aws/unused_rds/CHANGELOG.md
  cost/aws/unused_rds/README.md
  cost/aws/unused_rds/unused_rds.pt
  operational/aws/subnet_name_sync/CHANGELOG.md
  operational/aws/subnet_name_sync/README.md
  operational/aws/subnet_name_sync/aws_subnet_name_sync.pt
  operational/aws/vpc_name_sync/CHANGELOG.md
  operational/aws/vpc_name_sync/README.md
  operational/aws/vpc_name_sync/aws_vpc_name_sync.pt
  security/aws/clb_unencrypted/CHANGELOG.md
  security/aws/clb_unencrypted/aws_clb_encryption.pt
  security/aws/ebs_unencrypted_volumes/CHANGELOG.md
  security/aws/ebs_unencrypted_volumes/aws_unencrypted_volumes.pt
  security/aws/elb_unencrypted/CHANGELOG.md
  security/aws/elb_unencrypted/aws_elb_encryption.pt
  security/aws/rds_unencrypted/CHANGELOG.md
  security/aws/rds_unencrypted/README.md
  security/aws/rds_unencrypted/aws_unencrypted_rds_instances.pt
  security/aws/unencrypted_s3_buckets/CHANGELOG.md
  security/aws/unencrypted_s3_buckets/README.md
  security/aws/unencrypted_s3_buckets/aws_unencrypted_s3_buckets.pt
Labels: DO-NOT-MERGE, READY FOR APPROVAL, changelog, enhancement

#489 POL-250 - New Resource Table 12
  operational/stranded_servers/CHANGELOG.md
  operational/stranded_servers/README.md
  operational/stranded_servers/stranded_servers.pt
  saas/fsm/suspicious_users/fsm-suspicious_users.pt
  saas/fsm/unsanctioned_spend/CHANGELOG.md
  saas/fsm/unsanctioned_spend/README.md
  saas/fsm/unsanctioned_spend/fsm-unsanctioned_spend.pt
  saas/fsm/user_status_change/fsm-user_status_change.pt
  security/security_groups/high_open_ports/CHANGELOG.md
  security/security_groups/high_open_ports/open_ports.pt
  security/security_groups/icmp_enabled/CHANGELOG.md
  security/security_groups/icmp_enabled/icmp_enabled.pt
  security/security_groups/rules_without_descriptions/CHANGELOG.md
  security/security_groups/rules_without_descriptions/security_group_rules_without_descriptions.pt
  security/security_groups/world_open_ports/CHANGELOG.md
  security/security_groups/world_open_ports/README.md
  security/security_groups/world_open_ports/security_group_rules_with_world_open_ports.pt
Labels: DO-NOT-MERGE, READY FOR APPROVAL, READY-FOR-REVIEW, changelog, enhancement

#491 Pol 248 new resource table 10
  compliance/google/long_stopped_instances/CHANGELOG.md
  compliance/google/long_stopped_instances/README.md
  compliance/google/long_stopped_instances/google_long_stopped_instances.pt
  cost/google/cloudsql_rightsizing/CHANGELOG.md
  cost/google/cloudsql_rightsizing/README.md
  cost/google/cloudsql_rightsizing/google_cloudsql_rightsizing.pt
  cost/google/cud_expiration/CHANGELOG.md
  cost/google/cud_expiration/google_cud_expiration_report.pt
  cost/google/cud_report/CHANGELOG.md
  cost/google/cud_report/google_committed_usediscount_report.pt
  cost/google/object_storage_optimization/CHANGELOG.md
  cost/google/object_storage_optimization/README.md
  cost/google/object_storage_optimization/google_object_storage_optimization.pt
  cost/google/unused_cloudsql_instances/CHANGELOG.md
  cost/google/unused_cloudsql_instances/README.md
  cost/google/unused_cloudsql_instances/google_unused_cloudsql_instances.pt
  cost/low_account_usage/CHANGELOG.md
  cost/low_account_usage/low_account_usage.pt
  cost/rightlink_rightsize/CHANGELOG.md
  cost/rightlink_rightsize/rightlink-rightsize-add-tags.pt
  cost/rightlink_rightsize/rightlink_rightsize.pt
  security/storage/google/public_buckets/CHANGELOG.md
  security/storage/google/public_buckets/google_public_buckets.pt
Labels: DO-NOT-MERGE, READY FOR APPROVAL, changelog, enhancement

#493 Pol 251 new resource table 13
  compliance/tags/tag_checker/README.md
  compliance/tags/tag_checker/tag_checker.pt
  compliance/unapproved_instance_types/CHANGELOG.md
  compliance/unapproved_instance_types/README.md
  compliance/unapproved_instance_types/unapproved_instance_types.pt
  cost/superseded_instance/CHANGELOG.md
  cost/superseded_instance/superseded_instance.pt
  cost/superseded_instance_remediation/CHANGELOG.md
  cost/superseded_instance_remediation/README.md
  cost/superseded_instance_remediation/superseded_instance_remediation.pt
  cost/terminate_policy/CHANGELOG.md
  cost/terminate_policy/README.md
  cost/terminate_policy/instance_terminate.pt
  operational/vmware/instance_tag_sync/README.md
  operational/vmware/instance_tag_sync/changelog.md
  operational/vmware/instance_tag_sync/instance_tag_sync.pt
Labels: READY FOR APPROVAL

#511 POL-242 New Resource Table 4
  compliance/aws/long_stopped_instances/CHANGELOG.md
  compliance/aws/long_stopped_instances/README.md
  compliance/aws/long_stopped_instances/aws_long_stopped_instances.pt
  cost/aws/object_storage_optimization/CHANGELOG.md
  cost/aws/object_storage_optimization/README.md
  cost/aws/object_storage_optimization/aws_object_storage_optimization.pt
  cost/aws/rds_instance_cloudwatch_utilization/CHANGELOG.md
  cost/aws/rds_instance_cloudwatch_utilization/README.md
  cost/aws/rds_instance_cloudwatch_utilization/rds_instance_cloudwatch_utilization.pt
  cost/aws/reserved_instances/recommendations/CHANGELOG.md
  cost/aws/reserved_instances/recommendations/aws_reserved_instance_recommendations.pt
  cost/aws/reserved_instances/utilization/CHANGELOG.md
  cost/aws/reserved_instances/utilization/utilization_ris.pt
  cost/aws/savings_plan/recommendations/CHANGELOG.md
  cost/aws/savings_plan/recommendations/aws_savings_plan_recommendations.pt
  operational/aws/long_running_instances/CHANGELOG.md
  operational/aws/long_running_instances/README.md
  operational/aws/long_running_instances/long_running_instances.pt
  operational/dbaas/aws/rds_backup/CHANGELOG.md
  operational/dbaas/aws/rds_backup/aws_rds_backup.pt
  security/aws/loadbalancer_internet_facing/CHANGELOG.md
  security/aws/loadbalancer_internet_facing/README.md
  security/aws/loadbalancer_internet_facing/aws_internet-facing_elbs.pt
  security/aws/rds_publicly_accessible/CHANGELOG.md
  security/aws/rds_publicly_accessible/README.md
  security/aws/rds_publicly_accessible/aws_publicly_accessible_rds_instances.pt
  security/storage/aws/s3_buckets_without_server_access_logging/CHANGELOG.md
  security/storage/aws/s3_buckets_without_server_access_logging/README.md
  security/storage/aws/s3_buckets_without_server_access_logging/aws_s3_buckets_without_server_access_logging.pt
Labels: DO-NOT-MERGE, READY FOR APPROVAL, READY-FOR-REVIEW, changelog, enhancement

#512 POL-249 new resource table 11
  cost/aws/reserved_instances/coverage/CHANGELOG.md
  cost/aws/reserved_instances/coverage/reserved_instance_coverage.pt
  cost/aws/reserved_instances/report_by_bc/CHANGELOG.md
  cost/aws/reserved_instances/report_by_bc/ri_report_by_bc.pt
  cost/instance_anomaly/CHANGELOG.md
  cost/instance_anomaly/instance_anomaly.pt
  cost/low_service_usage/CHANGELOG.md
  cost/low_service_usage/low_service_usage.pt
  cost/new_service_usage/CHANGELOG.md
  cost/new_service_usage/new_service_usage.pt
  operational/azure/network_flow/changelog.md
  operational/azure/network_flow/risc-netflow.pt
  operational/snapshots/CHANGELOG.md
  operational/snapshots/README.md
  operational/snapshots/no_recent_snapshots.pt
  saas/fsm/renewal_reminder/fsm-renewal_reminder.pt
  saas/office365/security_alerts/CHANGELOG.md
  saas/office365/security_alerts/o365-security-alerts.pt
  saas/okta/inactive_users/CHANGELOG.md
  saas/okta/inactive_users/README.md
  saas/okta/inactive_users/okta-inactive-users.pt
Labels: DO-NOT-MERGE, READY FOR APPROVAL, changelog, enhancement

#513 Pol 262 aws unused ip addresses
  README.md
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/README.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
Labels: New Policy, READY FOR APPROVAL, READY-FOR-REVIEW

#516 Pol 258 aws untagged resources
  README.md
  compliance/aws/untagged_resources/CHANGELOG.md
  compliance/aws/untagged_resources/README.md
  compliance/aws/untagged_resources/aws_untagged_resources.pt
Labels: New Policy, READY FOR APPROVAL, READY-FOR-REVIEW

#515 Pol 263 Azure Unused IP Addresses
  README.md
  cost/azure/unused_ip_addresses/CHANGELOG.md
  cost/azure/unused_ip_addresses/README.md
  cost/azure/unused_ip_addresses/azure_unused_ip_addresses.pt
Labels: New Policy, READY FOR APPROVAL, READY-FOR-REVIEW, changelog

#519 Pol 228 azure untagged resources
  README.md
  compliance/azure/azure_untagged_resources/CHANGELOG.md
  compliance/azure/azure_untagged_resources/README.md
  compliance/azure/azure_untagged_resources/untagged_resources.pt
Labels: New Policy, READY FOR APPROVAL, READY-FOR-REVIEW, changelog

#537 Pol 266 google unlabeled resources
  README.md
  compliance/google/unlabeled_resources/CHANGELOG.md
  compliance/google/unlabeled_resources/README.md
  compliance/google/unlabeled_resources/unlabeled_resources.pt
Labels: New Policy, READY-FOR-REVIEW, changelog

#532 POL-229-AWS Schedule Instance
  README.md
  cost/aws/schedule_instance/CHANGELOG.md
  cost/aws/schedule_instance/README.md
  cost/aws/schedule_instance/aws_schedule_instance.pt
Labels: New Policy, READY-FOR-REVIEW, changelog

#573 Fix parameter name typo and IAM policy formatting in AWS Unused IP Addresses policy template
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/README.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
  cost/aws/unused_volumes/aws_delete_unused_volumes.pt
Labels: READY-FOR-REVIEW

#574 fix descriptions
  cost/aws/s3_bucket_size/CHANGELOG.md
  cost/aws/s3_bucket_size/aws_bucket_size.pt
  cost/aws/schedule_instance/CHANGELOG.md
  cost/aws/schedule_instance/aws_schedule_instance.pt
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
Labels: READY-FOR-REVIEW

#575 Copy-POL-262-AWS-Unused-IP
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
Labels: READY-FOR-REVIEW

#576 fix exclude tags description
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/README.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
Labels: READY FOR APPROVAL

#580 Pol 356 aws schedule instances action not working
  cost/aws/schedule_instance/CHANGELOG.md
  cost/aws/schedule_instance/README.md
  cost/aws/schedule_instance/aws_schedule_instance.pt
Labels: READY-FOR-REVIEW

#578 Pol 354: AWS Missing Instance Type
  cost/aws/instance_cloudwatch_utilization/CHANGELOG.md
  cost/aws/instance_cloudwatch_utilization/README.md
  cost/aws/instance_cloudwatch_utilization/aws_instance_cloudwatch_utilization.pt
  data/aws/instance_types.json
Labels: READY-FOR-REVIEW, bug, changelog

#579 POL-357: Updated policy properties
  compliance/azure/azure_untagged_resources/CHANGELOG.md
  compliance/azure/azure_untagged_resources/untagged_resources.pt
Labels: READY-FOR-REVIEW, bug

#581 POL-359 Google Unlabeled Resources & Azure Unused IP Addresses- Fix Readme link and space issue respectively
  compliance/google/unlabeled_resources/CHANGELOG.md
  compliance/google/unlabeled_resources/unlabeled_resources.pt
  cost/azure/unused_ip_addresses/CHANGELOG.md
  cost/azure/unused_ip_addresses/azure_unused_ip_addresses.pt
Labels: READY-FOR-REVIEW, bug, changelog

#583 Removing FNMS onprem files added again while merging
  compliance/aws/instances_without_fnm_agent_on_premise/CHANGELOG.md
  compliance/aws/instances_without_fnm_agent_on_premise/aws_instances_not_running_flexnet_inventory_agent.pt
  compliance/azure/instances_without_fnm_agent_on_premise/CHANGELOG.md
  compliance/azure/instances_without_fnm_agent_on_premise/azure_instances_not_running_flexnet_inventory_agent.pt
  compliance/fnms/fnms_licenses_at_risk_on_premise/CHANGELOG.md
  compliance/fnms/fnms_licenses_at_risk_on_premise/fnms-at-risk-licenses.pt
Labels: READY-FOR-REVIEW

#585 Pol 351 azure schedule instance
  README.md
  cost/azure/schedule_instance/CHANGELOG.md
  cost/azure/schedule_instance/README.md
  cost/azure/schedule_instance/azure_schedule_instance.pt
Labels: New Policy, READY-FOR-REVIEW, changelog

#586 Fix for bug ID: POL-369-No-Recommended-Capacity-Azure-Rightsize-SQL-Databases
  cost/azure/rightsize_sql_instances/CHANGELOG.md
  cost/azure/rightsize_sql_instances/azure_rightsize_sql_instances.pt
Labels: bug, changelog

#584 POL-352-Google-Schedule-Instance
  README.md
  cost/google/schedule_instance/CHANGELOG.md
  cost/google/schedule_instance/README.md
  cost/google/schedule_instance/google_schedule_instance.pt
  data/tz_database/timezones_list.json
Labels: New Policy, READY-FOR-REVIEW, changelog

#589 Pol 364 use aws describe regions for regions list 1
  compliance/aws/ecs_unused/CHANGELOG.md
  compliance/aws/ecs_unused/README.md
  compliance/aws/ecs_unused/aws_unused_ecs_clusters.pt
  compliance/aws/long_stopped_instances/CHANGELOG.md
  compliance/aws/long_stopped_instances/README.md
  compliance/aws/long_stopped_instances/aws_long_stopped_instances.pt
  compliance/aws/untagged_resources/CHANGELOG.md
  compliance/aws/untagged_resources/README.md
  compliance/aws/untagged_resources/aws_untagged_resources.pt
  cost/aws/elb/clb_unused/CHANGELOG.md
  cost/aws/elb/clb_unused/README.md
  cost/aws/elb/clb_unused/aws_delete_unused_clb.pt
  cost/aws/rds_instance_cloudwatch_utilization/CHANGELOG.md
  cost/aws/rds_instance_cloudwatch_utilization/README.md
  cost/aws/rds_instance_cloudwatch_utilization/rds_instance_cloudwatch_utilization.pt
  cost/aws/rds_instance_license_info/CHANGELOG.md
  cost/aws/rds_instance_license_info/README.md
  cost/aws/rds_instance_license_info/rds_instance_license_info.pt
  cost/aws/unused_rds/CHANGELOG.md
  cost/aws/unused_rds/README.md
  cost/aws/unused_rds/unused_rds.pt
  operational/aws/long_running_instances/CHANGELOG.md
  operational/aws/long_running_instances/README.md
  operational/aws/long_running_instances/long_running_instances.pt
  operational/dbaas/aws/rds_backup/CHANGELOG.md
  operational/dbaas/aws/rds_backup/README.md
  operational/dbaas/aws/rds_backup/aws_rds_backup.pt
  security/aws/clb_unencrypted/CHANGELOG.md
  security/aws/clb_unencrypted/README.md
  security/aws/clb_unencrypted/aws_clb_encryption.pt
  security/aws/elb_unencrypted/CHANGELOG.md
  security/aws/elb_unencrypted/README.md
  security/aws/elb_unencrypted/aws_elb_encryption.pt
  security/aws/loadbalancer_internet_facing/CHANGELOG.md
  security/aws/loadbalancer_internet_facing/README.md
  security/aws/loadbalancer_internet_facing/aws_internet-facing_elbs.pt
  security/aws/rds_publicly_accessible/CHANGELOG.md
  security/aws/rds_publicly_accessible/README.md
  security/aws/rds_publicly_accessible/aws_publicly_accessible_rds_instances.pt
  security/aws/rds_unencrypted/CHANGELOG.md
  security/aws/rds_unencrypted/README.md
  security/aws/rds_unencrypted/aws_unencrypted_rds_instances.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#587 Pol 365 use aws describe regions for regions list 2
  compliance/aws/instances_without_fnm_agent/CHANGELOG.md
  compliance/aws/instances_without_fnm_agent/README.md
  compliance/aws/instances_without_fnm_agent/aws_instances_not_running_flexnet_inventory_agent.pt
  cost/aws/burstable_instance_cloudwatch_credit_utilization/CHANGELOG.md
  cost/aws/burstable_instance_cloudwatch_credit_utilization/README.md
  cost/aws/burstable_instance_cloudwatch_credit_utilization/aws_burstable_instance_cloudwatch_credit_utilization.pt
  cost/aws/idle_compute_instances/CHANGELOG.md
  cost/aws/idle_compute_instances/README.md
  cost/aws/idle_compute_instances/idle_compute_instances.pt
  cost/aws/instance_cloudwatch_utilization/CHANGELOG.md
  cost/aws/instance_cloudwatch_utilization/README.md
  cost/aws/instance_cloudwatch_utilization/aws_instance_cloudwatch_utilization.pt
  cost/aws/old_snapshots/CHANGELOG.md
  cost/aws/old_snapshots/README.md
  cost/aws/old_snapshots/aws_delete_old_snapshots.pt
  cost/aws/schedule_instance/CHANGELOG.md
  cost/aws/schedule_instance/README.md
  cost/aws/schedule_instance/aws_schedule_instance.pt
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/README.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
  cost/aws/unused_volumes/CHANGELOG.md
  cost/aws/unused_volumes/README.md
  cost/aws/unused_volumes/aws_delete_unused_volumes.pt
  operational/aws/instance_scheduled_events/CHANGELOG.md
  operational/aws/instance_scheduled_events/README.md
  operational/aws/instance_scheduled_events/aws_instance_scheduled_events.pt
  operational/aws/subnet_name_sync/CHANGELOG.md
  operational/aws/subnet_name_sync/README.md
  operational/aws/subnet_name_sync/aws_subnet_name_sync.pt
  operational/aws/vpc_name_sync/CHANGELOG.md
  operational/aws/vpc_name_sync/README.md
  operational/aws/vpc_name_sync/aws_vpc_name_sync.pt
  security/aws/ebs_unencrypted_volumes/CHANGELOG.md
  security/aws/ebs_unencrypted_volumes/README.md
  security/aws/ebs_unencrypted_volumes/aws_unencrypted_volumes.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#588 POL-314-Add-Savings-Azure-Unused-Volumes
  cost/azure/unattached_volumes/CHANGELOG.md
  cost/azure/unattached_volumes/README.md
  cost/azure/unattached_volumes/azure_delete_unattached_volumes.pt
Labels: READY-FOR-REVIEW, enhancement

#591 POl-352-Google-Schedule_instance_copy
  cost/google/schedule_instance/CHANGELOG.md
  cost/google/schedule_instance/google_schedule_instance.pt
  data/tz_database/timezones_list.json
Labels: READY-FOR-REVIEW

#592 POL 372 Ignored Elastic pool databases getting listed in incident
  cost/azure/rightsize_sql_instances/CHANGELOG.md
  cost/azure/rightsize_sql_instances/README.md
  cost/azure/rightsize_sql_instances/azure_rightsize_sql_instances.pt
Labels: bug, changelog

#593 SEG-270 fixing bug where table was blank
  Gemfile.lock
  cost/billing_center_cost_anomaly/CHANGELOG.md
  cost/billing_center_cost_anomaly/billing_center_cost_anomaly.pt
Labels: READY-FOR-REVIEW

#594 add policy savings details to readme
  cost/aws/unused_volumes/README.md
  cost/azure/unattached_volumes/README.md
Labels: enhancement

#595 Pol 370 move calculations out of jmes path to javascript datasource
  cost/google/cloudsql_rightsizing/CHANGELOG.md
  cost/google/cloudsql_rightsizing/google_cloudsql_rightsizing.pt
Labels: READY-FOR-REVIEW, bug, changelog
