Repository flexera-public/policy_templates, pull requests merged in 2020-09, with the labels that each got.

#600 Pol 325 add savings aws unused elbs
  cost/aws/elb/clb_unused/CHANGELOG.md
  cost/aws/elb/clb_unused/README.md
  cost/aws/elb/clb_unused/aws_delete_unused_clb.pt
Labels: READY-FOR-REVIEW, bug, changelog

#599 POL-373-Azure-Hybrid-Use-Benefit-for-Windows-Server-consider-Windows_Client-LicenseType
  cost/azure/hybrid_use_benefit/CHANGELOG.md
  cost/azure/hybrid_use_benefit/README.md
  cost/azure/hybrid_use_benefit/azure_hybrid_use_benefit.pt
Labels: READY-FOR-REVIEW

#602 POL-371 No Recent Snapshots - add state running
  operational/snapshots/CHANGELOG.md
  operational/snapshots/no_recent_snapshots.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#601 Pol 374 case 02200747 azure hybrid use benefit policy script execution error
  cost/azure/hybrid_use_benefit/CHANGELOG.md
  cost/azure/hybrid_use_benefit/azure_hybrid_use_benefit.pt
Labels: READY-FOR-REVIEW

#603 Pol 375 duplicate resources aws inefficient instance utilization using cloud watch
  cost/aws/instance_cloudwatch_utilization/CHANGELOG.md
  cost/aws/instance_cloudwatch_utilization/aws_instance_cloudwatch_utilization.pt
Labels: READY-FOR-REVIEW, bug, changelog

#597 POL-323-Add-Savings-Azure-Idle-Compute-Instances
  cost/azure/idle_compute_instances/CHANGELOG.md
  cost/azure/idle_compute_instances/README.md
  cost/azure/idle_compute_instances/azure_idle_compute_instances.pt
Labels: READY-FOR-REVIEW, enhancement

#596 POL-320-Add-Savings-AWS-Unused-IPs
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/README.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
Labels: READY-FOR-REVIEW, enhancement

#598 POL-321-Add-Savings-Azure-Unused-IPs
  cost/azure/unused_ip_addresses/CHANGELOG.md
  cost/azure/unused_ip_addresses/README.md
  cost/azure/unused_ip_addresses/azure_unused_ip_addresses.pt
Labels: READY-FOR-REVIEW, enhancement

#604 POL-327-Add-Savings-AWS-Unused-RDS
  cost/aws/unused_rds/CHANGELOG.md
  cost/aws/unused_rds/README.md
  cost/aws/unused_rds/unused_rds.pt
Labels: READY-FOR-REVIEW, changelog

#605 POL-376-Update-add-savings-policy-to-handle-error-occurred-when-user-is-not-having-access-to-Optima
  cost/aws/elb/clb_unused/CHANGELOG.md
  cost/aws/elb/clb_unused/README.md
  cost/aws/elb/clb_unused/aws_delete_unused_clb.pt
  cost/aws/idle_compute_instances/CHANGELOG.md
  cost/aws/idle_compute_instances/README.md
  cost/aws/idle_compute_instances/idle_compute_instances.pt
  cost/aws/unused_volumes/CHANGELOG.md
  cost/aws/unused_volumes/README.md
  cost/aws/unused_volumes/aws_delete_unused_volumes.pt
  cost/azure/unattached_volumes/CHANGELOG.md
  cost/azure/unattached_volumes/README.md
  cost/azure/unattached_volumes/azure_delete_unattached_volumes.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#607 POL-377-Update-Add-savings-policy-detail-message-and-savings-format
  cost/aws/elb/clb_unused/CHANGELOG.md
  cost/aws/elb/clb_unused/README.md
  cost/aws/elb/clb_unused/aws_delete_unused_clb.pt
  cost/aws/idle_compute_instances/CHANGELOG.md
  cost/aws/idle_compute_instances/README.md
  cost/aws/idle_compute_instances/idle_compute_instances.pt
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/README.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
  cost/aws/unused_rds/CHANGELOG.md
  cost/aws/unused_rds/README.md
  cost/aws/unused_rds/unused_rds.pt
  cost/aws/unused_volumes/CHANGELOG.md
  cost/aws/unused_volumes/README.md
  cost/aws/unused_volumes/aws_delete_unused_volumes.pt
  cost/azure/idle_compute_instances/CHANGELOG.md
  cost/azure/idle_compute_instances/README.md
  cost/azure/idle_compute_instances/azure_idle_compute_instances.pt
  cost/azure/unattached_volumes/CHANGELOG.md
  cost/azure/unattached_volumes/README.md
  cost/azure/unattached_volumes/azure_delete_unattached_volumes.pt
  cost/azure/unused_ip_addresses/CHANGELOG.md
  cost/azure/unused_ip_addresses/README.md
  cost/azure/unused_ip_addresses/azure_unused_ip_addresses.pt
Labels: READY-FOR-REVIEW, changelog

#611 POL-381-Case-02213464-Azure-Inefficient-Instance-Utilization-using-Log-Analytics-execution-failure
  cost/azure/instances_log_analytics_utilization/CHANGELOG.md
  cost/azure/instances_log_analytics_utilization/README.md
  cost/azure/instances_log_analytics_utilization/azure_instance_log_analytics_utilization.pt
Labels: READY-FOR-REVIEW, changelog
