Repository flexera-public/policy_templates, pull requests merged in 2020-12, with the labels that each got.

#641 Billing Center Cost Anomaly - Fix for Incorrect Variable Type and Missing Detail Template
  cost/billing_center_cost_anomaly/CHANGELOG.md
  cost/billing_center_cost_anomaly/billing_center_cost_anomaly.pt
Labels: READY-FOR-REVIEW, bug, changelog, enhancement

#642 AWS Service Control Policy - Pagination Fix
  compliance/aws/scp_audit/CHANGELOG.md
  compliance/aws/scp_audit/aws_scp_audit.pt
Labels: READY-FOR-REVIEW, bug, changelog

#636 POL-391 Update the AWS policies to support SCP
  compliance/aws/ecs_unused/CHANGELOG.md
  compliance/aws/ecs_unused/README.md
  compliance/aws/ecs_unused/aws_unused_ecs_clusters.pt
  compliance/aws/long_stopped_instances/CHANGELOG.md
  compliance/aws/long_stopped_instances/README.md
  compliance/aws/long_stopped_instances/aws_long_stopped_instances.pt
  compliance/aws/untagged_resources/CHANGELOG.md
  compliance/aws/untagged_resources/README.md
  compliance/aws/untagged_resources/aws_untagged_resources.pt
  cost/aws/elb/clb_unused/CHANGELOG.md
  cost/aws/elb/clb_unused/README.md
  cost/aws/elb/clb_unused/aws_delete_unused_clb.pt
  cost/aws/rds_instance_cloudwatch_utilization/CHANGELOG.md
  cost/aws/rds_instance_cloudwatch_utilization/README.md
  cost/aws/rds_instance_cloudwatch_utilization/rds_instance_cloudwatch_utilization.pt
  cost/aws/rds_instance_license_info/CHANGELOG.md
  cost/aws/rds_instance_license_info/README.md
  cost/aws/rds_instance_license_info/rds_instance_license_info.pt
  cost/aws/unused_rds/CHANGELOG.md
  cost/aws/unused_rds/README.md
  cost/aws/unused_rds/unused_rds.pt
  operational/aws/long_running_instances/CHANGELOG.md
  operational/aws/long_running_instances/README.md
  operational/aws/long_running_instances/long_running_instances.pt
  operational/dbaas/aws/rds_backup/CHANGELOG.md
  operational/dbaas/aws/rds_backup/README.md
  operational/dbaas/aws/rds_backup/aws_rds_backup.pt
  security/aws/clb_unencrypted/CHANGELOG.md
  security/aws/clb_unencrypted/README.md
  security/aws/clb_unencrypted/aws_clb_encryption.pt
  security/aws/elb_unencrypted/CHANGELOG.md
  security/aws/elb_unencrypted/README.md
  security/aws/elb_unencrypted/aws_elb_encryption.pt
  security/aws/loadbalancer_internet_facing/CHANGELOG.md
  security/aws/loadbalancer_internet_facing/README.md
  security/aws/loadbalancer_internet_facing/aws_internet-facing_elbs.pt
  security/aws/rds_publicly_accessible/CHANGELOG.md
  security/aws/rds_publicly_accessible/README.md
  security/aws/rds_publicly_accessible/aws_publicly_accessible_rds_instances.pt
  security/aws/rds_unencrypted/CHANGELOG.md
  security/aws/rds_unencrypted/README.md
  security/aws/rds_unencrypted/aws_unencrypted_rds_instances.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#637 POL-401 Update the AWS policies to support SCP
  compliance/aws/instances_without_fnm_agent/CHANGELOG.md
  compliance/aws/instances_without_fnm_agent/README.md
  compliance/aws/instances_without_fnm_agent/aws_instances_not_running_flexnet_inventory_agent.pt
  cost/aws/burstable_instance_cloudwatch_credit_utilization/CHANGELOG.md
  cost/aws/burstable_instance_cloudwatch_credit_utilization/README.md
  cost/aws/burstable_instance_cloudwatch_credit_utilization/aws_burstable_instance_cloudwatch_credit_utilization.pt
  cost/aws/idle_compute_instances/CHANGELOG.md
  cost/aws/idle_compute_instances/README.md
  cost/aws/idle_compute_instances/idle_compute_instances.pt
  cost/aws/instance_cloudwatch_utilization/CHANGELOG.md
  cost/aws/instance_cloudwatch_utilization/README.md
  cost/aws/instance_cloudwatch_utilization/aws_instance_cloudwatch_utilization.pt
  cost/aws/old_snapshots/CHANGELOG.md
  cost/aws/old_snapshots/README.md
  cost/aws/old_snapshots/aws_delete_old_snapshots.pt
  cost/aws/schedule_instance/CHANGELOG.md
  cost/aws/schedule_instance/README.md
  cost/aws/schedule_instance/aws_schedule_instance.pt
  cost/aws/unused_ip_addresses/CHANGELOG.md
  cost/aws/unused_ip_addresses/README.md
  cost/aws/unused_ip_addresses/aws_unused_ip_addresses.pt
  cost/aws/unused_volumes/CHANGELOG.md
  cost/aws/unused_volumes/README.md
  cost/aws/unused_volumes/aws_delete_unused_volumes.pt
  operational/aws/instance_scheduled_events/CHANGELOG.md
  operational/aws/instance_scheduled_events/README.md
  operational/aws/instance_scheduled_events/aws_instance_scheduled_events.pt
  operational/aws/subnet_name_sync/CHANGELOG.md
  operational/aws/subnet_name_sync/README.md
  operational/aws/subnet_name_sync/aws_subnet_name_sync.pt
  operational/aws/vpc_name_sync/CHANGELOG.md
  operational/aws/vpc_name_sync/README.md
  operational/aws/vpc_name_sync/aws_vpc_name_sync.pt
  security/aws/ebs_unencrypted_volumes/CHANGELOG.md
  security/aws/ebs_unencrypted_volumes/README.md
  security/aws/ebs_unencrypted_volumes/aws_unencrypted_volumes.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#606 POL-330_Policy_Update_Notification
  README.md
  compliance/policy_update_notification/README.md
  compliance/policy_update_notification/changelog.md
  compliance/policy_update_notification/policy_update_notification.pt
Labels: New Policy, READY-FOR-REVIEW

#649 POL-409 Superseded Instances
  data/azure/instance_types.json
Labels: READY-FOR-REVIEW, enhancement

#643 SAAS API host automations all changes
  saas/fsm/duplicate_users/CHANGELOG.md
  saas/fsm/duplicate_users/duplicate_users.pt
  saas/fsm/inactive_users_by_dept/CHANGELOG.md
  saas/fsm/inactive_users_by_dept/inactive_users_by_dept.pt
  saas/fsm/redundant_apps/CHANGELOG.md
  saas/fsm/redundant_apps/fsm-redundant_apps.pt
  saas/fsm/renewal_reminder/CHANGELOG.md
  saas/fsm/renewal_reminder/fsm-renewal_reminder.pt
  saas/fsm/suspicious_users/CHANGELOG.md
  saas/fsm/suspicious_users/fsm-suspicious_users.pt
  saas/fsm/unsanctioned_apps_with_contract/CHANGELOG.md
  saas/fsm/unsanctioned_apps_with_contract/fsm-unsanctioned_with_contract.pt
  saas/fsm/unsanctioned_spend/CHANGELOG.md
  saas/fsm/unsanctioned_spend/fsm-unsanctioned_spend.pt
  saas/fsm/user_status_change/CHANGELOG.md
  saas/fsm/user_status_change/fsm-user_status_change.pt
  saas/fsm/users_by_category/CHANGELOG.md
  saas/fsm/users_by_category/users_by_category.pt
Labels: READY-FOR-REVIEW, changelog, enhancement
