Repository flexera-public/policy_templates, pull requests merged in 2020-06, with the labels that each got.

#541 POL-294: Sync Azure Tags with Optima
  README.md
  operational/azure/sync_tags_with_optima/CHANGELOG.md
  operational/azure/sync_tags_with_optima/README.md
  operational/azure/sync_tags_with_optima/sync_azure_tags.pt
Labels: READY-FOR-REVIEW

#543 POL-307: Azure AD - Remove need for refresh token
  operational/azure/azuread_group_sync/CHANGELOG.md
  operational/azure/azuread_group_sync/README.md
  operational/azure/azuread_group_sync/azuread_group_sync.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#542 POL-289: AWS SCP Audit
  README.md
  compliance/aws/scp_audit/CHANGELOG.md
  compliance/aws/scp_audit/README.md
  compliance/aws/scp_audit/aws_scp_audit.pt
Labels: New Policy, READY-FOR-REVIEW, changelog

#544 POL-293: Budget Alerts by Cloud Account
  README.md
  cost/budget_alerts_by_account/CHANGELOG.md
  cost/budget_alerts_by_account/README.md
  cost/budget_alerts_by_account/budget_alerts_by_account.pt
Labels: New Policy, READY-FOR-REVIEW, changelog

#545 AzureAD readme update for updated permissions
  operational/azure/azuread_group_sync/README.md
  operational/azure/azuread_group_sync/enterprise_app_permissions.png
Labels: repo_maintenance

#547 Pol 96
  README.md
  saas/fsm/users_by_category/CHANGELOG.md
  saas/fsm/users_by_category/README.md
  saas/fsm/users_by_category/users_by_category.pt
Labels: New Policy, READY-FOR-REVIEW

#548 Updating Bill Analysis Endpoint
  cost/cheaper_regions/CHANGELOG.md
  cost/cheaper_regions/cheaper_regions.pt
  cost/low_account_usage/CHANGELOG.md
  cost/low_account_usage/low_account_usage.pt
  cost/low_service_usage/CHANGELOG.md
  cost/low_service_usage/low_service_usage.pt
  cost/new_service_usage/CHANGELOG.md
  cost/new_service_usage/new_service_usage.pt
  cost/superseded_instance/CHANGELOG.md
  cost/superseded_instance/superseded_instance.pt
  msp/compliance/orgs_and_cloud_accounts_report/CHANGELOG.md
  msp/compliance/orgs_and_cloud_accounts_report/orgs_and_cloud_accounts_report.pt
Labels: READY-FOR-REVIEW, bug, changelog

#546 Azure AD Group Sync - Update Readme Image
  operational/azure/azuread_group_sync/enterprise_app_permissions.png
Labels: repo_maintenance

#524 POL-277 Unable to delete AWS Snapshots
  cost/aws/old_snapshots/CHANGELOG.md
  cost/aws/old_snapshots/README.md
  cost/aws/old_snapshots/aws_delete_old_snapshots.pt
Labels: READY-FOR-REVIEW, bug, changelog

#549 POL-311-Azure-Inefficient-Instance-Utilization-Using-Log-Analytics-unhandled-error
  cost/azure/instances_log_analitics_utilization/CHANGELOG.md
  cost/azure/instances_log_analitics_utilization/azure_instance_log_analytics_utilization.pt
Labels: enhancement

#550 POL-310 Azure Long stopped instances unhandled error
  compliance/azure/azure_long_stopped_instances/CHANGELOG.md
  compliance/azure/azure_long_stopped_instances/long_stopped_instances_azure.pt
Labels: READY-FOR-REVIEW, bug, changelog
