Repository flexera-public/policy_templates, pull requests merged in 2020-07, with the labels that each got.

#552 POL-309 Azure Idle compute instances unhandled error when executing
  cost/azure/idle_compute_instances/CHANGELOG.md
  cost/azure/idle_compute_instances/azure_idle_compute_instances.pt
Labels: READY-FOR-REVIEW, bug, changelog

#553 POL-291 - AWS IAM Role Audit
  README.md
  compliance/aws/iam_role_audit/CHANGELOG.md
  compliance/aws/iam_role_audit/README.md
  compliance/aws/iam_role_audit/aws_iam_role_audit.pt
Labels: New Policy, READY-FOR-REVIEW, changelog

#554 POL-290 Azure Policy Audit
  README.md
  compliance/azure/azure_policy_audit/CHANGELOG.md
  compliance/azure/azure_policy_audit/README.md
  compliance/azure/azure_policy_audit/azure_policy_audit.pt
Labels: New Policy, READY-FOR-REVIEW, changelog

#556 POL-274 - Google Idle Instances Update for Missing Metrics
  cost/google/idle_compute_instances/CHANGELOG.md
  cost/google/idle_compute_instances/google_idle_compute_instances.pt
Labels: READY-FOR-REVIEW, bug, changelog

#557 POL-338 : Fix Resource Table Rendering Issue
  operational/azure/vms_without_managed_disks/CHANGELOG.md
  operational/azure/vms_without_managed_disks/azure_vms_without_managed_disks.pt
Labels: READY-FOR-REVIEW, changelog

#555 POL 336 Error on Azure unused SQL databases policy
  cost/azure/unused_sql_databases/CHANGELOG.md
  cost/azure/unused_sql_databases/azure_unused_sql_databases.pt
Labels: READY-FOR-REVIEW, bug, changelog

#560 AWS Idle Instances: add Estimated Monthly Savings
  cost/aws/idle_compute_instances/CHANGELOG.md
  cost/aws/idle_compute_instances/README.md
  cost/aws/idle_compute_instances/idle_compute_instances.pt
Labels: READY-FOR-REVIEW, enhancement

#559 AWS UAV: add Estimated Cost Savings
  cost/aws/unused_volumes/CHANGELOG.md
  cost/aws/unused_volumes/README.md
  cost/aws/unused_volumes/aws_delete_unused_volumes.pt
Labels: READY-FOR-REVIEW, enhancement

#558 Pol 180 merge fnms cloud and on prem
  README.md
  compliance/aws/instances_without_fnm_agent/CHANGELOG.md
  compliance/aws/instances_without_fnm_agent/README.md
  compliance/aws/instances_without_fnm_agent/aws_instances_not_running_flexnet_inventory_agent.pt
  compliance/aws/instances_without_fnm_agent_on_premise/CHANGELOG.md
  compliance/aws/instances_without_fnm_agent_on_premise/README.md
  compliance/aws/instances_without_fnm_agent_on_premise/aws_instances_not_running_flexnet_inventory_agent.pt
  compliance/aws/instances_without_fnm_agent_on_premise/images/APIToken.png
  compliance/aws/instances_without_fnm_agent_on_premise/images/CMP_NewToken.png
  compliance/aws/instances_without_fnm_agent_on_premise/images/CreateServeceAccount.png
  compliance/aws/instances_without_fnm_agent_on_premise/images/FNMS_cv_Report.png
  compliance/aws/instances_without_fnm_agent_on_premise/images/Filter_FNMS_Report.PNG
  compliance/aws/instances_without_fnm_agent_on_premise/images/ReportNumber.png
  compliance/aws/instances_without_fnm_agent_on_premise/images/WebServiceRole.png
  compliance/aws/instances_without_fnm_agent_on_premise/images/email_output.png
  compliance/azure/instances_without_fnm_agent/CHANGELOG.md
  compliance/azure/instances_without_fnm_agent/README.md
  compliance/azure/instances_without_fnm_agent/azure_instances_not_running_flexnet_inventory_agent.pt
  compliance/azure/instances_without_fnm_agent_on_premise/CHANGELOG.md
  compliance/azure/instances_without_fnm_agent_on_premise/README.md
  compliance/azure/instances_without_fnm_agent_on_premise/azure_instances_not_running_flexnet_inventory_agent.pt
  compliance/azure/instances_without_fnm_agent_on_premise/images/APIToken.png
  compliance/azure/instances_without_fnm_agent_on_premise/images/CMP_NewToken.png
  compliance/azure/instances_without_fnm_agent_on_premise/images/CreateServeceAccount.png
  compliance/azure/instances_without_fnm_agent_on_premise/images/FNMS_cv_Report.png
  compliance/azure/instances_without_fnm_agent_on_premise/images/Filter_FNMS_Report.PNG
  compliance/azure/instances_without_fnm_agent_on_premise/images/ReportNumber.png
  compliance/azure/instances_without_fnm_agent_on_premise/images/WebServiceRole.png
  compliance/azure/instances_without_fnm_agent_on_premise/images/email_output.png
  compliance/fnms/fnms_licenses_at_risk/CHANGELOG.md
  compliance/fnms/fnms_licenses_at_risk/README.md
  compliance/fnms/fnms_licenses_at_risk/fnms-at-risk-licenses.pt
  compliance/fnms/fnms_licenses_at_risk_on_premise/CHANGELOG.md
  compliance/fnms/fnms_licenses_at_risk_on_premise/README.md
  compliance/fnms/fnms_licenses_at_risk_on_premise/fnms-at-risk-licenses.pt
  compliance/fnms/fnms_licenses_at_risk_on_premise/images/APIToken.png
  compliance/fnms/fnms_licenses_at_risk_on_premise/images/CreateServeceAccount.png
  compliance/fnms/fnms_licenses_at_risk_on_premise/images/FNMSCloudInstanceReport.png
  compliance/fnms/fnms_licenses_at_risk_on_premise/images/MailOutput_FNMSLicense.png
  compliance/fnms/fnms_licenses_at_risk_on_premise/images/ReportNumber.png
  compliance/fnms/fnms_licenses_at_risk_on_premise/images/WebServiceRole.png
  compliance/fnms/fnms_low_licenses_available/CHANGELOG.md
  compliance/fnms/fnms_low_licenses_available/README.md
  compliance/fnms/fnms_low_licenses_available/fnms-low-available-licenses.pt
  operational/fnms/schedule_fnms_reports/CHANGELOG.md
  operational/fnms/schedule_fnms_reports/README.md
  operational/fnms/schedule_fnms_reports/schedule-fnms-report.pt
  operational/fnms/schedule_fnms_reports_on_premise/CHANGELOG.md
  operational/fnms/schedule_fnms_reports_on_premise/README.md
  operational/fnms/schedule_fnms_reports_on_premise/images/APIToken.png
  operational/fnms/schedule_fnms_reports_on_premise/images/CMP_NewToken.png
  operational/fnms/schedule_fnms_reports_on_premise/images/CreateServeceAccount.png
  operational/fnms/schedule_fnms_reports_on_premise/images/FNMS_cv_Report.png
  operational/fnms/schedule_fnms_reports_on_premise/images/ReportNumber.png
  operational/fnms/schedule_fnms_reports_on_premise/images/WebServiceRole.png
  operational/fnms/schedule_fnms_reports_on_premise/images/email_output.png
  operational/fnms/schedule_fnms_reports_on_premise/schedule-fnms-report.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#562 POL-340-Incorrect permission for log analytics
  cost/azure/instances_log_analitics_utilization/README.md
Labels: READY-FOR-REVIEW

#563 Copy-POL-340-Incorrect permission for log analytics
  cost/azure/instances_log_analitics_utilization/README.md
Labels: READY-FOR-REVIEW

#561 POL-339-Updated Readme
  cost/azure/object_storage_optimization/README.md
Labels: bug

#564 POL-342: GCP Snapshots - Ignore 403/404 on disabled API
  cost/google/old_snapshots/CHANGELOG.md
  cost/google/old_snapshots/google_delete_old_snapshots.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#565 POL-343: Google Unused IPs - Filter on External IPs only
  cost/google/unutilized_ip_addresses/CHANGELOG.md
  cost/google/unutilized_ip_addresses/README.md
  cost/google/unutilized_ip_addresses/google_unutilized_ip_addresses.pt
Labels: READY-FOR-REVIEW, changelog, enhancement

#566 POL-345: Google Inefficient Instance Utilization: CPU Calc Fix
  cost/google/instances_stackdriver_utilization/CHANGELOG.md
  cost/google/instances_stackdriver_utilization/README.md
  cost/google/instances_stackdriver_utilization/google_instances_stackdriver_utilization.pt
  data/google/instance_types.json
Labels: READY-FOR-REVIEW, bug, changelog

#568 POL-341-Budget-Alert-incident-missing-graph
  cost/budget_alerts/CHANGELOG.md
  cost/budget_alerts/budget_alert.pt
Labels: READY-FOR-REVIEW, enhancement

#569 POL-344-Budget-Alerts-w/-Billing-Center-Unallocated
  cost/budget_alerts/CHANGELOG.md
  cost/budget_alerts/README.md
  cost/budget_alerts/budget_alert.pt
Labels: READY-FOR-REVIEW, changelog, enhancement
